cache/
logs/
crashes/
txData/
coreclr_server/

*.log

server-data/.id
server-data/.console-history
server-data/local-database/
server-data/logs

libnode26.dll
cfx-server.exe
license-attribution.txt

server-data/server-private.cfg
