[submodule "ox_lib"]
	path = server-data/resources/ox_lib
	url = https://github.com/Artex3428/ox_lib.git
[submodule "oxmysql"]
	path = server-data/resources/oxmysql
	url = https://github.com/Artex3428/oxmysql.git
[submodule "qbx_core"]
	path = server-data/resources/qbx_core
	url = https://github.com/Artex3428/qbx_core.git
[submodule "server-data/resources/ox_inventory"]
	path = server-data/resources/ox_inventory
	url = https://github.com/Artex3428/ox_inventory.git
[submodule "server-data/resources/ox_target"]
	path = server-data/resources/ox_target
	url = https://github.com/Artex3428/ox_target.git
[submodule "server-data/resources/sd-phone"]
	path = server-data/resources/sd-phone
	url = https://github.com/Artex3428/sd-phone.git
[submodule "server-data/resources/sd-phone-props"]
	path = server-data/resources/sd-phone-props
	url = https://github.com/Artex3428/sd-phone-props.git
[submodule "server-data/resources/sd-tablet"]
	path = server-data/resources/sd-tablet
	url = https://github.com/Artex3428/sd-tablet.git
[submodule "server-data/resources/sd-tablet-props"]
	path = server-data/resources/sd-tablet-props
	url = https://github.com/Artex3428/sd-tablet-props.git
[submodule "server-data/resources/sd-itemspawner"]
	path = server-data/resources/sd-itemspawner
	url = https://github.com/Artex3428/sd-itemspawner.git
[submodule "server-data/resources/sd-zonecreator"]
	path = server-data/resources/sd-zonecreator
	url = https://github.com/Artex3428/sd-zonecreator.git
[submodule "server-data/resources/sd-policeradar"]
	path = server-data/resources/sd-policeradar
	url = https://github.com/Artex3428/sd-policeradar.git
[submodule "server-data/resources/sd-selfstorage"]
	path = server-data/resources/sd-selfstorage
	url = https://github.com/Artex3428/sd-selfstorage.git
[submodule "server-data/resources/qbx_hud"]
	path = server-data/resources/qbx_hud
	url = https://github.com/Artex3428/qbx_hud.git
[submodule "server-data/resources/qbx_idcard"]
	path = server-data/resources/qbx_idcard
	url = https://github.com/Artex3428/qbx_idcard.git
[submodule "server-data/resources/MugShotBase64"]
	path = server-data/resources/MugShotBase64
	url = https://github.com/Artex3428/MugShotBase64.git
[submodule "server-data/resources/illenium-appearance"]
	path = server-data/resources/illenium-appearance
	url = https://github.com/Artex3428/illenium-appearance.git
[submodule "server-data/resources/ps-adminmenu"]
	path = server-data/resources/ps-adminmenu
	url = https://github.com/Artex3428/ps-adminmenu.git
[submodule "server-data/resources/qbx_vehicles"]
	path = server-data/resources/qbx_vehicles
	url = https://github.com/Artex3428/qbx_vehicles.git
[submodule "server-data/resources/qbx_garages"]
	path = server-data/resources/qbx_garages
	url = https://github.com/Artex3428/qbx_garages.git
[submodule "server-data/resources/qbx_vehiclekeys"]
	path = server-data/resources/qbx_vehiclekeys
	url = https://github.com/Artex3428/qbx_vehiclekeys.git
[submodule "server-data/resources/qbx_vehicleshop"]
	path = server-data/resources/qbx_vehicleshop
	url = https://github.com/Artex3428/qbx_vehicleshop.git
[submodule "server-data/resources/qbx_vehiclesales"]
	path = server-data/resources/qbx_vehiclesales
	url = https://github.com/Artex3428/qbx_vehiclesales.git
[submodule "server-data/resources/ox_fuel"]
	path = server-data/resources/ox_fuel
	url = https://github.com/Artex3428/ox_fuel.git
[submodule "server-data/resources/ox_doorlock"]
	path = server-data/resources/ox_doorlock
	url = https://github.com/Artex3428/ox_doorlock.git
[submodule "server-data/resources/fivem-freecam"]
	path = server-data/resources/fivem-freecam
	url = https://github.com/Artex3428/fivem-freecam.git
[submodule "server-data/resources/ps-housing"]
	path = server-data/resources/ps-housing
	url = https://github.com/Artex3428/ps-housing.git
[submodule "server-data/resources/ps-realtor"]
	path = server-data/resources/ps-realtor
	url = https://github.com/Artex3428/ps-realtor.git
[submodule "server-data/resources/Renewed-Banking"]
	path = server-data/resources/Renewed-Banking
	url = https://github.com/Artex3428/Renewed-Banking.git
[submodule "server-data/resources/qbx_management"]
	path = server-data/resources/qbx_management
	url = https://github.com/Artex3428/qbx_management.git
[submodule "server-data/resources/qbx_cityhall"]
	path = server-data/resources/qbx_cityhall
	url = https://github.com/Artex3428/qbx_cityhall.git
[submodule "server-data/resources/qbx_truckerjob"]
	path = server-data/resources/qbx_truckerjob
	url = https://github.com/Artex3428/qbx_truckerjob.git
[submodule "server-data/resources/qbx_busjob"]
	path = server-data/resources/qbx_busjob
	url = https://github.com/Artex3428/qbx_busjob.git
[submodule "server-data/resources/qbx_garbagejob"]
	path = server-data/resources/qbx_garbagejob
	url = https://github.com/Artex3428/qbx_garbagejob.git
[submodule "server-data/resources/qbx_taxijob"]
	path = server-data/resources/qbx_taxijob
	url = https://github.com/Artex3428/qbx_taxijob.git
[submodule "server-data/resources/xt-prison"]
	path = server-data/resources/xt-prison
	url = https://github.com/Artex3428/xt-prison.git
[submodule "server-data/resources/qbx_police"]
	path = server-data/resources/qbx_police
	url = https://github.com/Artex3428/qbx_police.git
[submodule "server-data/resources/ND_Ambulance"]
	path = server-data/resources/ND_Ambulance
	url = https://github.com/Artex3428/ND_Ambulance.git
[submodule "server-data/resources/qbx_mechanicjob"]
	path = server-data/resources/qbx_mechanicjob
	url = https://github.com/Artex3428/qbx_mechanicjob.git
[submodule "server-data/resources/qbx_customs"]
	path = server-data/resources/qbx_customs
	url = https://github.com/Artex3428/qbx_customs.git
[submodule "server-data/resources/qbx_towjob"]
	path = server-data/resources/qbx_towjob
	url = https://github.com/Artex3428/qbx_towjob.git
[submodule "server-data/resources/qbx_newsjob"]
	path = server-data/resources/qbx_newsjob
	url = https://github.com/Artex3428/qbx_newsjob.git
[submodule "server-data/resources/qbx_recyclejob"]
	path = server-data/resources/qbx_recyclejob
	url = https://github.com/Artex3428/qbx_recyclejob.git
[submodule "server-data/resources/qbx_vineyard"]
	path = server-data/resources/qbx_vineyard
	url = https://github.com/Artex3428/qbx_vineyard.git
[submodule "server-data/resources/loadscreen"]
	path = server-data/resources/loadscreen
	url = https://github.com/Artex3428/loadscreen.git
[submodule "server-data/resources/qbx_seatbelt"]
	path = server-data/resources/qbx_seatbelt
	url = https://github.com/Artex3428/qbx_seatbelt.git
[submodule "server-data/resources/vehiclehandler"]
	path = server-data/resources/vehiclehandler
	url = https://github.com/Artex3428/vehiclehandler.git
[submodule "server-data/resources/qbx_density"]
	path = server-data/resources/qbx_density
	url = https://github.com/Artex3428/qbx_density.git
[submodule "server-data/resources/Renewed-Weathersync"]
	path = server-data/resources/Renewed-Weathersync
	url = https://github.com/Artex3428/Renewed-Weathersync.git
[submodule "server-data/resources/qbx_carwash"]
	path = server-data/resources/qbx_carwash
	url = https://github.com/Artex3428/qbx_carwash.git
[submodule "server-data/resources/qbx_binoculars"]
	path = server-data/resources/qbx_binoculars
	url = https://github.com/Artex3428/qbx_binoculars.git
[submodule "server-data/resources/qbx_fireworks"]
	path = server-data/resources/qbx_fireworks
	url = https://github.com/Artex3428/qbx_fireworks.git
[submodule "server-data/resources/mm_radio"]
	path = server-data/resources/mm_radio
	url = https://github.com/Artex3428/mm_radio.git
[submodule "server-data/resources/qbx_houserobbery"]
	path = server-data/resources/qbx_houserobbery
	url = https://github.com/Artex3428/qbx_houserobbery.git
[submodule "server-data/resources/ultra-voltlab"]
	path = server-data/resources/ultra-voltlab
	url = https://github.com/Artex3428/ultra-voltlab.git
[submodule "server-data/resources/qbx_jewelery"]
	path = server-data/resources/qbx_jewelery
	url = https://github.com/Artex3428/qbx_jewelery.git
[submodule "server-data/resources/qbx_bankrobbery"]
	path = server-data/resources/qbx_bankrobbery
	url = https://github.com/Artex3428/qbx_bankrobbery.git
[submodule "server-data/resources/qbx_pawnshop"]
	path = server-data/resources/qbx_pawnshop
	url = https://github.com/Artex3428/qbx_pawnshop.git
[submodule "server-data/resources/qbx_scrapyard"]
	path = server-data/resources/qbx_scrapyard
	url = https://github.com/Artex3428/qbx_scrapyard.git
[submodule "server-data/resources/qbx_storerobbery"]
	path = server-data/resources/qbx_storerobbery
	url = https://github.com/Artex3428/qbx_storerobbery.git
[submodule "server-data/resources/scully_emotemenu"]
	path = server-data/resources/scully_emotemenu
	url = https://github.com/Artex3428/scully_emotemenu.git
[submodule "server-data/resources/serverdepth-businesses"]
	path = server-data/resources/serverdepth-businesses
	url = https://github.com/Artex3428/serverdepth-businesses.git
[submodule "server-data/resources/dynamic-sit"]
	path = server-data/resources/dynamic-sit
	url = https://github.com/Artex3428/dynamic-sit.git
[submodule "server-data/resources/v-sport"]
	path = server-data/resources/v-sport
	url = https://github.com/Artex3428/v-sport-fivem.git
[submodule "server-data/resources/wz-blindfold"]
	path = server-data/resources/wz-blindfold
	url = https://github.com/Artex3428/wz-blindfold.git
[submodule "server-data/resources/Torque_hideintrunk"]
	path = server-data/resources/Torque_hideintrunk
	url = https://github.com/Artex3428/Torque_hideintrunk.git
[submodule "server-data/resources/mt_fakeplates"]
	path = server-data/resources/mt_fakeplates
	url = https://github.com/Artex3428/mt_fakeplates.git
[submodule "server-data/resources/Croll-PropStuck"]
	path = server-data/resources/Croll-PropStuck
	url = https://github.com/Artex3428/Croll-PropStuck.git
[submodule "server-data/resources/s4t4n667_elevators"]
	path = server-data/resources/s4t4n667_elevators
	url = https://github.com/Artex3428/s4t4n667_elevators.git
[submodule "server-data/resources/qbx_smallresources"]
	path = server-data/resources/qbx_smallresources
	url = https://github.com/Artex3428/qbx_smallresources.git
[submodule "server-data/resources/cfx-anes-gates"]
	path = server-data/resources/cfx-anes-gates
	url = https://github.com/Artex3428/cfx-anes-gates.git
[submodule "server-data/resources/qbx_drugs"]
	path = server-data/resources/qbx_drugs
	url = https://github.com/Artex3428/qbx_drugs.git
[submodule "server-data/resources/gs_els"]
	path = server-data/resources/gs_els
	url = https://github.com/Artex3428/gs_els.git
[submodule "server-data/resources/dev-fishing"]
	path = server-data/resources/dev-fishing
	url = https://github.com/Artex3428/dev-fishing.git
[submodule "server-data/resources/ap_pet"]
	path = server-data/resources/ap_pet
	url = https://github.com/Artex3428/ap_pet.git
[submodule "server-data/resources/crosshair"]
	path = server-data/resources/crosshair
	url = https://github.com/Artex3428/crosshair.git
[submodule "server-data/resources/noautohelmet"]
	path = server-data/resources/noautohelmet
	url = https://github.com/Artex3428/noautohelmet.git
[submodule "server-data/resources/scoreboard"]
	path = server-data/resources/scoreboard
	url = https://github.com/Artex3428/scoreboard.git
[submodule "server-data/resources/qbx_divegear"]
	path = server-data/resources/qbx_divegear
	url = https://github.com/Artex3428/qbx_divegear.git
[submodule "server-data/resources/qbx_diving"]
	path = server-data/resources/qbx_diving
	url = https://github.com/Artex3428/qbx_diving.git
[submodule "server-data/resources/qb-vehicle-tracker"]
	path = server-data/resources/qb-vehicle-tracker
	url = https://github.com/Artex3428/qb-vehicle-tracker.git
[submodule "server-data/resources/myid"]
	path = server-data/resources/myid
	url = https://github.com/Artex3428/myid.git
[submodule "server-data/resources/nzkfc_drone"]
	path = server-data/resources/nzkfc_drone
	url = https://github.com/Artex3428/nzkfc_drone.git
[submodule "server-data/resources/mth-rc"]
	path = server-data/resources/mth-rc
	url = https://github.com/Artex3428/mth-rc.git
[submodule "server-data/resources/qbx_rentals"]
	path = server-data/resources/qbx_rentals
	url = https://github.com/Artex3428/qbx_rentals.git
[submodule "server-data/resources/sd-drivingschool"]
	path = server-data/resources/sd-drivingschool
	url = https://github.com/Artex3428/sd-drivingschool.git
[submodule "server-data/resources/complex-gunrange"]
	path = server-data/resources/complex-gunrange
	url = https://github.com/Artex3428/complex-gunrange.git
[submodule "server-data/resources/xrb-hunting"]
	path = server-data/resources/xrb-hunting
	url = https://github.com/Artex3428/xrb-hunting.git
[submodule "server-data/resources/rpchat"]
	path = server-data/resources/rpchat
	url = https://github.com/Artex3428/rpchat.git
[submodule "server-data/resources/noNpcVehicleDespawn"]
	path = server-data/resources/noNpcVehicleDespawn
	url = https://github.com/Artex3428/noNpcVehicleDespawn.git
[submodule "server-data/resources/takehostage"]
	path = server-data/resources/takehostage
	url = https://github.com/Artex3428/takehostage.git
[submodule "server-data/resources/vehicle-occupant-combat"]
	path = server-data/resources/vehicle-occupant-combat
	url = https://github.com/Artex3428/vehicle-occupant-combat.git
[submodule "server-data/resources/XNL-FiveM-Trains-U3"]
	path = server-data/resources/XNL-FiveM-Trains-U3
	url = https://github.com/Artex3428/XNL-FiveM-Trains-U3.git
[submodule "server-data/resources/renzu_motels"]
	path = server-data/resources/renzu_motels
	url = https://github.com/Artex3428/renzu_motels.git
[submodule "server-data/resources/SJCrafting"]
	path = server-data/resources/SJCrafting
	url = https://github.com/Artex3428/SJCrafting.git
[submodule "server-data/resources/noinstakill"]
	path = server-data/resources/noinstakill
	url = https://github.com/Artex3428/noinstakill.git
[submodule "server-data/resources/ragdoll"]
	path = server-data/resources/ragdoll
	url = https://github.com/Artex3428/ragdoll.git
[submodule "server-data/resources/noshuff"]
	path = server-data/resources/noshuff
	url = https://github.com/Artex3428/noshuff.git
[submodule "server-data/resources/crouch_crawl"]
	path = server-data/resources/crouch_crawl
	url = https://github.com/Artex3428/crouch_crawl.git
[submodule "server-data/resources/bob74_ipl"]
	path = server-data/resources/bob74_ipl
	url = https://github.com/Artex3428/bob74_ipl.git
