[submodule "ox_lib"]
	path = server-data/resources/ox_lib
	url = https://github.com/Artex3428/ox_lib.git
[submodule "oxmysql"]
	path = server-data/resources/oxmysql
	url = https://github.com/Artex3428/oxmysql.git
[submodule "qbx_core"]
	path = server-data/resources/qbx_core
	url = https://github.com/Artex3428/qbx_core.git
[submodule "server-data/resources/ox_inventory"]
	path = server-data/resources/ox_inventory
	url = https://github.com/Artex3428/ox_inventory.git
[submodule "server-data/resources/ox_target"]
	path = server-data/resources/ox_target
	url = https://github.com/Artex3428/ox_target.git
[submodule "server-data/resources/sd-phone"]
	path = server-data/resources/sd-phone
	url = https://github.com/Artex3428/sd-phone.git
[submodule "server-data/resources/sd-phone-props"]
	path = server-data/resources/sd-phone-props
	url = https://github.com/Artex3428/sd-phone-props.git
[submodule "server-data/resources/sd-tablet"]
	path = server-data/resources/sd-tablet
	url = https://github.com/Artex3428/sd-tablet.git
[submodule "server-data/resources/sd-tablet-props"]
	path = server-data/resources/sd-tablet-props
	url = https://github.com/Artex3428/sd-tablet-props.git
[submodule "server-data/resources/sd-itemspawner"]
	path = server-data/resources/sd-itemspawner
	url = https://github.com/Artex3428/sd-itemspawner.git
[submodule "server-data/resources/sd-zonecreator"]
	path = server-data/resources/sd-zonecreator
	url = https://github.com/Artex3428/sd-zonecreator.git
[submodule "server-data/resources/sd-policeradar"]
	path = server-data/resources/sd-policeradar
	url = https://github.com/Artex3428/sd-policeradar.git
[submodule "server-data/resources/sd-dialog"]
	path = server-data/resources/sd-dialog
	url = https://github.com/Artex3428/sd-dialog.git
[submodule "server-data/resources/sd-selfstorage"]
	path = server-data/resources/sd-selfstorage
	url = https://github.com/Artex3428/sd-selfstorage.git
[submodule "server-data/resources/sd-levels"]
	path = server-data/resources/sd-levels
	url = https://github.com/Artex3428/sd-levels.git
[submodule "server-data/resources/sd-cases"]
	path = server-data/resources/sd-cases
	url = https://github.com/Artex3428/sd-cases.git
[submodule "server-data/resources/qbx_hud"]
	path = server-data/resources/qbx_hud
	url = https://github.com/Artex3428/qbx_hud.git
[submodule "server-data/resources/qbx_idcard"]
	path = server-data/resources/qbx_idcard
	url = https://github.com/Artex3428/qbx_idcard.git
[submodule "server-data/resources/MugShotBase64"]
	path = server-data/resources/MugShotBase64
	url = https://github.com/Artex3428/MugShotBase64.git
[submodule "server-data/resources/illenium-appearance"]
	path = server-data/resources/illenium-appearance
	url = https://github.com/Artex3428/illenium-appearance.git
