[submodule "ox_lib"]
	path = server-data/resources/ox_lib
	url = https://github.com/Artex3428/ox_lib.git
[submodule "oxmysql"]
	path = server-data/resources/oxmysql
	url = https://github.com/Artex3428/oxmysql.git
[submodule "qbx_core"]
	path = server-data/resources/qbx_core
	url = https://github.com/Artex3428/qbx_core.git
[submodule "server-data/resources/ox_inventory"]
	path = server-data/resources/ox_inventory
	url = https://github.com/Artex3428/ox_inventory.git
[submodule "server-data/resources/ox_target"]
	path = server-data/resources/ox_target
	url = https://github.com/Artex3428/ox_target.git
[submodule "server-data/resources/sd-phone"]
	path = server-data/resources/sd-phone
	url = https://github.com/Artex3428/sd-phone.git
[submodule "server-data/resources/sd-phone-props"]
	path = server-data/resources/sd-phone-props
	url = https://github.com/Artex3428/sd-phone-props.git
[submodule "server-data/resources/sd-tablet"]
	path = server-data/resources/sd-tablet
	url = https://github.com/Artex3428/sd-tablet.git
[submodule "server-data/resources/sd-tablet-props"]
	path = server-data/resources/sd-tablet-props
	url = https://github.com/Artex3428/sd-tablet-props.git
[submodule "server-data/resources/sd-itemspawner"]
	path = server-data/resources/sd-itemspawner
	url = https://github.com/Artex3428/sd-itemspawner.git
[submodule "server-data/resources/sd-zonecreator"]
	path = server-data/resources/sd-zonecreator
	url = https://github.com/Artex3428/sd-zonecreator.git
[submodule "server-data/resources/sd-policeradar"]
	path = server-data/resources/sd-policeradar
	url = https://github.com/Artex3428/sd-policeradar.git
[submodule "server-data/resources/sd-dialog"]
	path = server-data/resources/sd-dialog
	url = https://github.com/Artex3428/sd-dialog.git
[submodule "server-data/resources/sd-selfstorage"]
	path = server-data/resources/sd-selfstorage
	url = https://github.com/Artex3428/sd-selfstorage.git
[submodule "server-data/resources/sd-levels"]
	path = server-data/resources/sd-levels
	url = https://github.com/Artex3428/sd-levels.git
[submodule "server-data/resources/sd-cases"]
	path = server-data/resources/sd-cases
	url = https://github.com/Artex3428/sd-cases.git
[submodule "server-data/resources/qbx_hud"]
	path = server-data/resources/qbx_hud
	url = https://github.com/Artex3428/qbx_hud.git
[submodule "server-data/resources/qbx_idcard"]
	path = server-data/resources/qbx_idcard
	url = https://github.com/Artex3428/qbx_idcard.git
[submodule "server-data/resources/MugShotBase64"]
	path = server-data/resources/MugShotBase64
	url = https://github.com/Artex3428/MugShotBase64.git
[submodule "server-data/resources/illenium-appearance"]
	path = server-data/resources/illenium-appearance
	url = https://github.com/Artex3428/illenium-appearance.git
[submodule "server-data/resources/ps-adminmenu"]
	path = server-data/resources/ps-adminmenu
	url = https://github.com/Artex3428/ps-adminmenu.git
[submodule "server-data/resources/qbx_vehicles"]
	path = server-data/resources/qbx_vehicles
	url = https://github.com/Artex3428/qbx_vehicles.git
[submodule "server-data/resources/qbx_garages"]
	path = server-data/resources/qbx_garages
	url = https://github.com/Artex3428/qbx_garages.git
[submodule "server-data/resources/qbx_vehiclekeys"]
	path = server-data/resources/qbx_vehiclekeys
	url = https://github.com/Artex3428/qbx_vehiclekeys.git
[submodule "server-data/resources/qbx_vehicleshop"]
	path = server-data/resources/qbx_vehicleshop
	url = https://github.com/Artex3428/qbx_vehicleshop.git
[submodule "server-data/resources/qbx_vehiclesales"]
	path = server-data/resources/qbx_vehiclesales
	url = https://github.com/Artex3428/qbx_vehiclesales.git
[submodule "server-data/resources/ox_fuel"]
	path = server-data/resources/ox_fuel
	url = https://github.com/Artex3428/ox_fuel.git
[submodule "server-data/resources/ox_doorlock"]
	path = server-data/resources/ox_doorlock
	url = https://github.com/Artex3428/ox_doorlock.git
[submodule "server-data/resources/fivem-freecam"]
	path = server-data/resources/fivem-freecam
	url = https://github.com/Artex3428/fivem-freecam.git
[submodule "server-data/resources/ps-housing"]
	path = server-data/resources/ps-housing
	url = https://github.com/Artex3428/ps-housing.git
[submodule "server-data/resources/ps-realtor"]
	path = server-data/resources/ps-realtor
	url = https://github.com/Artex3428/ps-realtor.git
[submodule "server-data/resources/Renewed-Banking"]
	path = server-data/resources/Renewed-Banking
	url = https://github.com/Artex3428/Renewed-Banking.git
[submodule "server-data/resources/qbx_management"]
	path = server-data/resources/qbx_management
	url = https://github.com/Artex3428/qbx_management.git
[submodule "server-data/resources/qbx_cityhall"]
	path = server-data/resources/qbx_cityhall
	url = https://github.com/Artex3428/qbx_cityhall.git
[submodule "server-data/resources/qbx_truckerjob"]
	path = server-data/resources/qbx_truckerjob
	url = https://github.com/Artex3428/qbx_truckerjob.git
[submodule "server-data/resources/qbx_busjob"]
	path = server-data/resources/qbx_busjob
	url = https://github.com/Artex3428/qbx_busjob.git
[submodule "server-data/resources/qbx_garbagejob"]
	path = server-data/resources/qbx_garbagejob
	url = https://github.com/Artex3428/qbx_garbagejob.git
[submodule "server-data/resources/qbx_taxijob"]
	path = server-data/resources/qbx_taxijob
	url = https://github.com/Artex3428/qbx_taxijob.git
[submodule "server-data/resources/xt-prison"]
	path = server-data/resources/xt-prison
	url = https://github.com/Artex3428/xt-prison.git
[submodule "server-data/resources/qbx_police"]
	path = server-data/resources/qbx_police
	url = https://github.com/Artex3428/qbx_police.git
[submodule "server-data/resources/ND_Ambulance"]
	path = server-data/resources/ND_Ambulance
	url = https://github.com/Artex3428/ND_Ambulance.git
[submodule "server-data/resources/qbx_mechanicjob"]
	path = server-data/resources/qbx_mechanicjob
	url = https://github.com/Artex3428/qbx_mechanicjob.git
[submodule "server-data/resources/qbx_customs"]
	path = server-data/resources/qbx_customs
	url = https://github.com/Artex3428/qbx_customs.git
[submodule "server-data/resources/qbx_towjob"]
	path = server-data/resources/qbx_towjob
	url = https://github.com/Artex3428/qbx_towjob.git
[submodule "server-data/resources/qbx_newsjob"]
	path = server-data/resources/qbx_newsjob
	url = https://github.com/Artex3428/qbx_newsjob.git
[submodule "server-data/resources/qbx_recyclejob"]
	path = server-data/resources/qbx_recyclejob
	url = https://github.com/Artex3428/qbx_recyclejob.git
[submodule "server-data/resources/qbx_vineyard"]
	path = server-data/resources/qbx_vineyard
	url = https://github.com/Artex3428/qbx_vineyard.git
[submodule "server-data/resources/loadscreen"]
	path = server-data/resources/loadscreen
	url = https://github.com/Artex3428/loadscreen.git
[submodule "server-data/resources/qbx_seatbelt"]
	path = server-data/resources/qbx_seatbelt
	url = https://github.com/Artex3428/qbx_seatbelt.git
[submodule "server-data/resources/vehiclehandler"]
	path = server-data/resources/vehiclehandler
	url = https://github.com/Artex3428/vehiclehandler.git
[submodule "server-data/resources/qbx_density"]
	path = server-data/resources/qbx_density
	url = https://github.com/Artex3428/qbx_density.git
[submodule "server-data/resources/Renewed-Weathersync"]
	path = server-data/resources/Renewed-Weathersync
	url = https://github.com/Artex3428/Renewed-Weathersync.git
[submodule "server-data/resources/qbx_carwash"]
	path = server-data/resources/qbx_carwash
	url = https://github.com/Artex3428/qbx_carwash.git
[submodule "server-data/resources/qbx_binoculars"]
	path = server-data/resources/qbx_binoculars
	url = https://github.com/Artex3428/qbx_binoculars.git
[submodule "server-data/resources/qbx_fireworks"]
	path = server-data/resources/qbx_fireworks
	url = https://github.com/Artex3428/qbx_fireworks.git
[submodule "server-data/resources/mm_radio"]
	path = server-data/resources/mm_radio
	url = https://github.com/Artex3428/mm_radio.git
[submodule "server-data/resources/qbx_houserobbery"]
	path = server-data/resources/qbx_houserobbery
	url = https://github.com/Artex3428/qbx_houserobbery.git
[submodule "server-data/resources/ultra-voltlab"]
	path = server-data/resources/ultra-voltlab
	url = https://github.com/Artex3428/ultra-voltlab.git
[submodule "server-data/resources/qbx_jewelery"]
	path = server-data/resources/qbx_jewelery
	url = https://github.com/Artex3428/qbx_jewelery.git
[submodule "server-data/resources/qbx_bankrobbery"]
	path = server-data/resources/qbx_bankrobbery
	url = https://github.com/Artex3428/qbx_bankrobbery.git
[submodule "server-data/resources/qbx_pawnshop"]
	path = server-data/resources/qbx_pawnshop
	url = https://github.com/Artex3428/qbx_pawnshop.git
[submodule "server-data/resources/qbx_scrapyard"]
	path = server-data/resources/qbx_scrapyard
	url = https://github.com/Artex3428/qbx_scrapyard.git
[submodule "server-data/resources/qbx_storerobbery"]
	path = server-data/resources/qbx_storerobbery
	url = https://github.com/Artex3428/qbx_storerobbery.git
[submodule "server-data/resources/scully_emotemenu"]
	path = server-data/resources/scully_emotemenu
	url = https://github.com/Artex3428/scully_emotemenu.git
